body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 60px auto;
}
.weather-app {
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #dadde1;
  color: white;

  box-shadow: 5px 5px 10px rgba(131, 131, 131, 0.5);
  background: linear-gradient(-225deg, #77c1de 0%, #30addd 60%);
}

.icon {
  height: 40px;

  padding-right: 20px;
  position: relative;
  top: -15px;
}
.temperature {
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -36px;
  left: -5px;
}

.weather-forecast {
  text-align: center;
  background-color: #2b90c6;
  border-radius: 15px;
  padding-top: 20px;
}

.description {
  text-transform: capitalize;
}

.search-form {
  margin-bottom: 40px;
}

.weather-details {
  background-color: #2b90c6;
  height: 30px;
  border-radius: 15px;
  text-align: center;

  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-primary {
  background-color: #f5c496;
}
.btn-success {
  background-color: #7bb6b7;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 16px;
}

.weather-forecast-temperature-max {
  padding-right: 10px;
}
.weather-forecast-temperature-min {
  padding-left: 10px;
  opacity: 0.7;
}
